*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100vw;
    background: #020024;
    background: linear-gradient( to bottom right, rgba(2, 0, 36, 1) 0%, 
    rgba(106, 106, 148, 1) 42%, 
    rgba(0, 212, 255, 1) 69%, 
    rgba(0, 212, 255, 1) 91%,
    rgba(0, 212, 255, 1) 100%);

    display: flex;
    justify-content:center;
    align-items: center; 
}
#login{
    height: 60%;
    width: 26%;
    background-color: white;  
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 2px;
}
#login h2{
    
    font-size: 2rem;
}
#login i{
    font-size: 1rem;
}
.form-label{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 800;
    gap: 10px;
}
.form-label input{
    font-size: 15px;
    padding: 5px;
}
#login button{
    display: flex;
    justify-content:center;
    align-items: center; 
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px; 
    background-color: rgb(25, 25, 115);   
    color: white;
}
#login button:hover{
    cursor: pointer;
    background-color: rgb(58, 195, 195);
}
.signup{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.signup span:nth-child(2){
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}