*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    height: 70px;
    background-color: black;
    color: white;
    padding: 15px 15px;
    font-size: 2rem;
}
span{
    padding: 0px 20px;
    
}
span:hover{
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
}